<MudNavMenu>
    <MudNavLink Href="/" Match="NavLinkMatch.All" Icon="@Icons.Material.Rounded.Home">@Localizer["Home"]</MudNavLink>
    <MudDivider />
    <MudNavLink Href="/Accommodations" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.AddHomeWork">@Localizer["Accommodations"]</MudNavLink>
    <MudDivider />
    <MudNavLink Href="/rooms" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.BedroomChild">@Localizer["Rooms"]</MudNavLink>
    <MudDivider />
    <MudNavLink Href="/roomTypes" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Public">@Localizer["RoomTypes"]</MudNavLink>
    <MudDivider />
    <MudNavLink Href="/reservations" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.RoomService">@Localizer["Reservations"]</MudNavLink>
    <MudDivider />
    <MudNavLink Href="/about" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.CalendarMonth">@Localizer["Calendar"]</MudNavLink>
    <MudNavLink Href="/countries" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.AddHomeWork">@Localizer["Countries"]</MudNavLink>
    <MudDivider />
</MudNavMenu>

﻿<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">HostMaster.Frontend</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="users">
                <span class="bi bi-person-fill" aria-hidden="true"></span> Users
            </NavLink>
        </div>
    </nav>
</div>
