﻿<NavigationLock OnBeforeInternalNavigation="OnBeforeInternalNavigation" />
<EditForm EditContext="editContext" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />
    <div class="mb-3">
        <label>@Localizer["FirstName"]:</label>
        <div>
            <InputText class="form-control" @bind-Value="@User.FirstName" />
            <ValidationMessage For="@(() => User.FirstName)" />
        </div>
        <label>@Localizer["LastName"]:</label>
        <div>
            <InputText class="form-control" @bind-Value="@User.LastName" />
            <ValidationMessage For="@(() => User.LastName)" />
        </div>
        <label>@Localizer["Email"]:</label>
        <div>
            <InputText class="form-control" @bind-Value="@User.Email" />
            <ValidationMessage For="@(() => User.Email)" />
        </div>
        <label>@Localizer["PhoneNumber"]:</label>
        <div>
            <InputText class="form-control" @bind-Value="@User.PhoneNumber" />
            <ValidationMessage For="@(() => User.PhoneNumber)" />
        </div>

        <label>@Localizer["DocumentType"]:</label>
        <div>
            <select class="form-control" @bind="@User.DocumentType">
                <option value="Cedula">@Localizer["Cedula"]</option>
                <option value="Passport">@Localizer["Passport"]</option>
            </select>
            <ValidationMessage For="@(() => User.Document)" />
        </div>

        <label>@Localizer["Document"]:</label>
        <div>
			<InputText class="form-control" @bind-Value="@User.Document" />
			<ValidationMessage For="@(() => User.Document)" />
        </div>

        <label>@Localizer["UserType"]:</label>
        <div>
            <select class="form-control" @bind="@UserTypeString">
                <option value="Admin">@Localizer["Admin"]</option>
                <option value="Customer">@Localizer["Customer"]</option>
                <option value="Employee">@Localizer["Employee"]</option>
            </select>
        </div>              
    </div>
    <button class="btn btn-primary" type="submit">@Localizer["SaveChanges"]</button>
    <button class="btn btn-success" @onclick="ReturnAction">@Localizer["Return"]</button>
</EditForm>