@page "/calendar"
@inherits CalendarBase

@using MudBlazor

<MudContainer Class="calendar-container">
    <MudPaper Class="pa-4 calendar-paper">
        <MudText Typo="Typo.h5" Align="Align.Center">
            @Localizer["Calendar"] @Localizer[@CurrentMonth.ToString("MMMM")] @CurrentMonth.ToString("yyyy")
        </MudText>

        <!-- Envolver el calendario en un contenedor centrado -->
        <div class="calendar-table-container">
            <!-- Utilizar MudSimpleTable para el calendario -->
            <MudSimpleTable Class="calendar-table">
                <thead>
                    <tr>
                        <th>@Localizer["Monday"]</th>
                        <th>@Localizer["Tuesday"]</th>
                        <th>@Localizer["Wednesday"]</th>
                        <th>@Localizer["Thursday"]</th>
                        <th>@Localizer["Friday"]</th>
                        <th>@Localizer["Saturday"]</th>
                        <th>@Localizer["Sunday"]</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var week in WeeksInMonth)
                    {
                        <tr>
                            @foreach (var day in week)
                            {
                                <td>
                                    @if (day.HasValue)
                                    {
                                        <MudButton @onclick="() => OnDateSelected(day.Value)"
                                                   Class="calendar-button"
                                                   Style="@(IsToday(day.Value) ? "background-purple: blue; color: black;" : "")">
                                            @day.Value.Day
                                        </MudButton>
                                    }
                                    else
                                    {
                                        @:<span>&nbsp;</span>
                                    }
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </MudSimpleTable>
        </div>

        <div class="calendar-navigation">
            <MudButton Variant="Variant.Outlined" OnClick="PreviousMonth" Class="calendar-nav-button"> @Localizer["PreviousMonth"] </MudButton>
            <MudButton Variant="Variant.Outlined" OnClick="NextMonth" Class="calendar-nav-button"> @Localizer["NextMonth"]</MudButton>
        </div>
    </MudPaper>
</MudContainer>
