@page "/countries"
@using HostMaster.Frontend.Shared

@if(loading)
{
    <Loading/>
}


<MudTable Items="@Countries"
        @ref="table"
        ServerData="LoadListAsync"
        Dense="true"
        Hover="true"
        Striped="true"
        FixedHeader="true"
        FixedFooter="true">
        <ToolBarContent>
            <div class="d-flex justify-content-between">
				<MudText Typo="Typo.h6" Class="me-4"> @Localizer["Countries"]</MudText>
				<AuthorizeView Roles="Admin">
					<Authorized>
						<MudButton Variant="Variant.Outlined"
								   EndIcon="@Icons.Material.Filled.Add"
								   Color="Color.Info" OnClick="@(() => ShowModalAsync())">
							@Localizer["New"]
						</MudButton>
					</Authorized>
				</AuthorizeView>
			</div>
			<MudSpacer />
			<FilterComponent ApplyFilter="SetFilterValue" />
                </ToolBarContent>
		<HeaderContent>
			<MudTh>@Localizer["Country"]</MudTh>
			<MudTh>@Localizer["States"]</MudTh>
		<MudTh>@Localizer["Actions"]</MudTh>
		</HeaderContent>
		<RowTemplate>
			<MudTd>@context.Name</MudTd>
			<MudTd>@context.StatesNumber</MudTd>
			<MudTd>
				<Authorized>
					<MudTooltip Text="@Localizer["Edit"]">
						<MudButton Variant="Variant.Filled"
								   Color="Color.Warning"
								   OnClick="@(() => ShowModalAsync(context.Id, true))">
							<MudIcon Icon="@Icons.Material.Filled.Edit" />
						</MudButton>
					</MudTooltip>
					<MudTooltip Text="@Localizer["Delete"]">
						<MudButton Variant="Variant.Filled"
								   Color="Color.Error"
								   OnClick="@(() => DeleteAsync(@context))">
							<MudIcon Icon="@Icons.Material.Filled.Delete" />
						</MudButton>
					</MudTooltip>
				</Authorized>
			</MudTd>
		</RowTemplate>

</MudTable>
