﻿
<NavigationLock OnBeforeInternalNavigation="OnBeforeInternalNavigation" />
<EditForm EditContext="editContext" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />
    <div class="mb-3">
        <label for="nameInput">@Localizer["AccommodationName"]:</label>
        <div>
            <InputText id="nameInput" class="form-control" @bind-Value="@Accommodation.Name" />
            <ValidationMessage For="@(() => Accommodation.Name)" />
        </div>
        <label for="addressInput">@Localizer["Address"]:</label>
        <div>
            <InputText id="addressInput" class="form-control" @bind-Value="@Accommodation.Address" />
            <ValidationMessage For="@(() => Accommodation.Address)" />
        </div>

        <label for="phoneNumberInput">@Localizer["AccomodationPhoneNumber"]:</label>
        <div>
            <InputText id="phoneNumberInput" class="form-control" @bind-Value="@Accommodation.PhoneNumber" />
            <ValidationMessage For="@(() => Accommodation.PhoneNumber)" />
        </div>

        <label for="descriptionInput">@Localizer["Description"]:</label>
        <div>
            <InputText id="descriptionInput" class="form-control" @bind-Value="@Accommodation.Description" />
            <ValidationMessage For="@(() => Accommodation.Description)" />
        </div>
    </div>
    <button class="btn btn-primary" type="submit">@Localizer["SaveChanges"]</button>
    <button class="btn btn-success" @onclick="ReturnAction">@Localizer["Return"]</button>
</EditForm>