@page "/extraServices/{serviceId:int}/availabilities"

<h3> @Localizer["Availability"] </h3>

<MudTable Items="@ExtraServiceAvailabilities"
		  @ref="table"
		  ServerData="LoadListAsync"
		  Dense="true"
		  Hover="true"
		  Striped="true"
		  FixedHeader="true"
		  FixedFooter="true">
	<ToolBarContent>
		<div class="d-flex justify-content-between">
			<MudText Typo="Typo.h6" Class="me-4"> @Localizer["Availability"]</MudText>
			<MudButton Variant="Variant.Outlined"
					   EndIcon="@Icons.Material.Filled.Add"
					   Color="Color.Info" OnClick="@(() => ShowModalAsync(serviceId))">
				@Localizer["New"]
			</MudButton>
		</div>
		<MudSpacer />
		<FilterComponent ApplyFilter="SetFilterValue" />
	</ToolBarContent>
	<HeaderContent>				
		<MudTh>@Localizer["StartDate"]</MudTh>
		<MudTh>@Localizer["EndDate"]</MudTh>
		<MudTh>@Localizer["IsAvailable"]</MudTh>		
	</HeaderContent>

	<RowTemplate>
		<MudTd>@context.StartDate</MudTd>
		<MudTd>@context.EndDate</MudTd>
		<MudTd>@context.IsAvailable</MudTd>

	</RowTemplate>
</MudTable>

						
