@page "/reservations/edit/{Id:int}"
<h3>@Localizer["Edit"] @Localizer["Reservation"]</h3>
@if (reservation is null)
{
    <h3>@Localizer["Reservations"]</h3>
    <div class="mb-3">
        <a class="btn btn-primary" href="/reservations/create">@Localizer["New"] @Localizer["Reservation"]</a>
    </div>
}
else
{
    <ReservationForm @ref="reservationForm" Reservation="reservation" OnValidSubmit="EditAsync" ReturnAction="Return" />
}