@page "/reservations"

<h3>@Localizer["Reservations"]</h3>
<div class="mb-3">
    <a class="btn btn-primary" href="/reservations/create">@Localizer["New"] @Localizer["Reservation"]</a>
</div>
<GenericList MyList="Reservations">
    <Body>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>@Localizer["Reservation"]</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var reservation in Reservations!)
                {
                    <tr>
                        <td>
                            @reservation.Room
                        </td>
                        <td>
                            <a class="btn btn-warning">@Localizer["Edit"]</a>
                            <button class="btn btn-danger">@Localizer["Delete"]</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </Body>
</GenericList>





