﻿<NavigationLock OnBeforeInternalNavigation="OnBeforeInternalNavigation" />
<EditForm EditContext="editContext" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />

    <div class="mb-3">
        <label>@Localizer["Accommodation"]:</label>
        <div>
            <InputNumber class="form-control" @bind-Value="@ReservationDTO.AccommodationId" />
            <ValidationMessage For="@(() => ReservationDTO.AccommodationId)" />
        </div>
    </div>
    <div class="mb-3">
        <label>@Localizer["RoomId"]:</label>
        <div>
            <InputNumber class="form-control" @bind-Value="@ReservationDTO.RoomId" />
            <ValidationMessage For="@(() => ReservationDTO.RoomId)" />
        </div>
    </div>
    <div class="mb-3">
        <label>@Localizer["StartDate"]:</label>
        <div>
            <InputDate class="form-control" @bind-Value="@ReservationDTO.StartDate" />
            <ValidationMessage For="@(() => ReservationDTO.StartDate)" />
        </div>
    </div>
    <div class="mb-3">
        <label>@Localizer["EndDate"]:</label>
        <div>
            <InputDate class="form-control" @bind-Value="@ReservationDTO.EndDate" />
            <ValidationMessage For="@(() => ReservationDTO.EndDate)" />
        </div>
    </div>
    <div class="mb-3">
        <label>@Localizer["NumberOfGuests"]:</label>
        <div>
            <InputNumber class="form-control" @bind-Value="@ReservationDTO.NumberOfGuests" />
            <ValidationMessage For="@(() => ReservationDTO.NumberOfGuests)" />
        </div>
    </div><div class="mb-3">
        <label>@Localizer["Customer"]:</label>
        <div>
            <InputNumber class="form-control" @bind-Value="@ReservationDTO.CustomerDocument" />
            <ValidationMessage For="@(() => ReservationDTO.CustomerDocument)" />
        </div>
    </div>
    <div class="mb-3">
        <label>@Localizer["ReservationState"]:</label>
        <div>
            <InputText class="form-control" @bind-Value="@ReservationDTO.ReservationState" />
            <ValidationMessage For="@(() => ReservationDTO.ReservationState)" />
        </div>
    </div>


    <button class="btn btn-primary" type="submit">@Localizer["SaveChanges"]</button>
    <button class="btn btn-success" @onclick="ReturnAction">@Localizer["Return"]</button>
</EditForm>